.rulebox {
  border: 2px solid #333;
  padding: 1em;
  margin: 1em 0;
  break-inside: avoid;
}

.monster-sheet {
  border: 3px double black;
  padding: 1em;
  break-inside: avoid;
}

/*footer snap*/




