/* ===== CONFIGURAÇÃO GLOBAL DE PÁGINA ===== */

:root {
  --page-background: #faf8f7;
  --yellow-color: #ffaa20;
  --orange-color: #ef6500;
  --purple-color: #68007a;
  --dark-color: #23002a;
  --accent-color: #006253;
  --inner-margin: 15mm;
  --outer-margin: 25mm;
  --outher-margins: 20mm;
  --general-font: "Rajdhani", sans-serif;

}

.page-number::before {
  content: counter(page);
}

/* Reset básico */
body {
  margin: 0;
  font-family: serif;
  line-height: 1.6;
}

/* Evita imagens quebrando estranho */
img {
  max-width: 100%;
}

/*teste*/

@page {

  size: A4;
  margin-top: 2cm;
  margin-bottom: 2cm;
  background-color: #faf8f7;
  background-image:
    linear-gradient(rgba(27, 11, 31, 0.015) 1px, transparent 1px),
    linear-gradient(90deg, rgba(27, 11, 31, 0.015) 1px, transparent 1px);
}

@page :right {

  margin-left: 1.5cm;
  margin-right: 2.5cm;

  @bottom-right {
    content: counter(page);
    background: #F28705;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    width: 2cm;
    height: 2cm;
    transform: translateX(2.5cm);
  }

}

@page :left {

  margin-left: 2.5cm;
  margin-right: 1.5cm;

  @left-top {
    content: element(chapter-side-marker);
    transform: translateY(-2cm);
  }

  @bottom-left {
    content: counter(page);
    background: #ffaa20;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    width: 2cm;
    height: 2cm;
    transform: translateX(-2.5cm);
  }
}

@page :first {
  background: none;

  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }
}

@page chapterOpening {

  @bottom-right {
    content: none;
    background: none;
  }

  @bottom-left {
    content: none;
    background: none;
  }
}