/* ===== CONFIGURAÇÃO GLOBAL DE PÁGINA ===== */

.pagedjs_pages {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
}


.pagedjs_page {
  flex: 0 0 auto;
  /* impede que a página se estique */
  margin: 0;
}

.pagedjs_page {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.chapter-title {
  string-set: chapter-title content(text);
}

.page-number::before {
  content: counter(page);
}

/* debug mode*/

.pagedjs_page {
  outline: 1px solid red;
}

.pagedjs_margin-top {
  background: rgba(255, 0, 0, 0.08);
}

.pagedjs_margin-bottom {
  background: rgba(0, 255, 0, 0.08);
}

.pagedjs_margin-left {
  background: rgba(0, 0, 255, 0.08);
}

.pagedjs_margin-right {
  background: rgba(255, 255, 0, 0.08);
}

.pagedjs_area {
  outline: 1px dashed purple;
}



/* Reset básico */
body {
  margin: 0;
  font-family: serif;
  line-height: 1.6;
}

/* Evita imagens quebrando estranho */
img {
  max-width: 100%;
}

/*teste*/

.page-decor {
  position: relative;
}

.page-decor::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-top: 2px solid #00e5ff;
  border-right: 2px solid #00e5ff;
}

.page-decor::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 40px;
  height: 2px;
  background: #00e5ff;
  box-shadow:
    -10px 10px 0 #00e5ff,
    -20px 20px 0 #00e5ff;
}

.footer-tech {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 9pt;
  color: #00e5ff;
  border-top: 1px solid #00e5ff;
  padding-top: 6px;
  letter-spacing: 2px;
}

.footer-tech::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  top: -4px;
  background: repeating-linear-gradient(
    90deg,
    #00e5ff 0px,
    #00e5ff 10px,
    transparent 10px,
    transparent 20px
  );
}

@page {
  
  size: A4;
  margin: 2cm;
  background-image:
    radial-gradient(circle at 20% 30%, rgba(0,229,255,0.05) 0%, transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0,229,255,0.05) 0%, transparent 40%);
}

@page :right {  
  
  @bottom-right {
    content: counter(page);
    font-size: 9pt;
  }
  
  @right-middle {
    content: "EXPLORAÇÃO // SETOR ALPHA";
    writing-mode: vertical-rl;
    font-size: 15pt;
    letter-spacing: 3px;
    opacity: 0.6;
    font-weight: 700;
  }

  @top-right {
    position: running(page-decor);
    height: 60px;
  }
}

@page :left {

  @left-middle {
   content: element(chapter-side-marker);
    
    writing-mode: vertical-rl;   
     
  }
   
  @bottom-left {
    content: counter(page);
    background: #FBBB1D;
    color: black;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    width: 2cm;
    height: 2cm;
    margin-left: -2cm;
  }
}

@page :first {
  background: none;
  @bottom-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
}