/* Capítulo sempre começa em nova página a direita*/
.chapter {
  page-break-before: always;
  break-before: right;
}

p {
  margin: 0 0 0.8em 0;
}

.dropcap::first-letter {
  float: left;
  font-size: 3em;
  margin-right: 0.1em;
}


/* Página de abertura do capítulo */
.chapter-opening {
  width: 210mm;
  height: 297mm;
  transform: translateX(-15mm) translateY(-20mm);
  page: chapterOpening;
}

.chapter-opening img {
  position: absolute;
  bottom: 0;
  /* define se fica embaixo ou em cima */
  left: 0;
  width: 139mm;
  height: 297mm;
  /* ocupa metade da página */
  object-fit: cover;
  /* faz o crop automático */
  transform: translateY(40mm);
  /*scaleX(-1)*/
  z-index: 1;
  /*object-position: 30% 70%;*/
}

.chapter-column {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 70mm;
  height: 297mm;

  background:  	#ef6500;
}

.chapter-block {
  width: 100%;
  height: 6cm;
  background-color: #68007a;
  text-align: center;
}

.rect-base {
  margin-top: 10mm;
  background: #ffaa20;
  width: 100%;
  height: 287mm;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rect-base h1 {
  padding: 5mm;
  font-family: "Rajdhani", sans-serif;
  font-size: 65pt;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #68007a;
  margin: 0;

}

.chapter-label {
  padding: 5mm;
  font-family: "Rajdhani", sans-serif;
  font-size: 15pt;
  font-weight: 600;
  text-transform: uppercase;
  color: aliceblue;
  margin: 0;
}

.chapter-number {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 120pt;
  text-transform: uppercase;
  color: aliceblue;
  margin: 0;
  padding: 5mm;
  margin-top: -25mm;
}

/* Título principal */
.chapter-title {
  font-size: 36pt;
  margin: 0;
  color: #730D62;
}

/* Corpo do capítulo */
.chapter-body {
  column-count: 2;
  column-gap: 1cm;
  text-align: justify;
}

/* Evita que parágrafos quebrem no meio */
.chapter-body p {
  break-inside: avoid;
}

/* Capitular (primeira letra grande) */
.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1;
  margin-right: 0.1em;
}

.chapter:first-of-type {
  counter-reset: page 1;
}