/* Capítulo sempre começa em nova página */
.chapter {
  page-break-before: always;
  break-before: right;
}

/* Página de abertura do capítulo */
.chapter-opening {
  page-break-after: always;
  text-align: center;   
}

/* Número do capítulo */
.chapter-number {
  font-size: 14pt;
  letter-spacing: 4px;
  margin-bottom: 1em;
  string-set: chapter-number content(text);
}

/* Título principal */
.chapter-title {
  font-size: 36pt;
  margin: 0;
  string-set: chapter-title content(text);
  color: #F28705;
}

/* Corpo do capítulo */
.chapter-body {
  column-count: 2;
  column-gap: 1cm;
  text-align: justify;
}

/* Evita que parágrafos quebrem no meio */
.chapter-body p {
  break-inside: avoid;
}

/* Capitular (primeira letra grande) */
.dropcap::first-letter {
  float: left;
  font-size: 3em;
  line-height: 1;
  margin-right: 0.1em;
}

.chapter:first-of-type {
  counter-reset: page 1;
}

.chapter-opening h1 {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F28705;
  position: relative;
}

/*Barra lateral*/

.chapter-side-marker {
  position: running(chapter-side-marker);  
  display: flex;              /* mais seguro que grid em margin boxes */
  flex-direction: column;     /* empilha verticalmente */
  align-items: center;
  justify-content: center;
  width: 2cm; 
}

.rect-top {  
  width: 2cm;
  height: 0.5cm;
  background: #730D62;
}

.chapter-rect {
  
  background: #F24405;
  color: aliceblue;  
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 25pt;
  width: 2cm;
  height: 10cm;
  
  
  display: flex;
  align-items: center;     /* centraliza no eixo horizontal */
  justify-content: center; /* centraliza no eixo vertical */
  
  writing-mode: vertical-rl;
}

.chapter-rect::before {
  content: string(chapter-number);
}

.rect-bottom {  
  width: 2cm;
  height: 10cm;
  background: #F28705;
}