.rulebox {
  border: 7px inset #F28705;
  border-radius: 0px 40px 0px 0px;
  -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, -28px -29px 3px -8px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, -28px -29px 3px -8px rgba(0, 0, 0, 0);
  padding: 1em;
  margin: 1em 0;
  break-inside: avoid;
}

.monster-sheet {
  border: 3px double black;
  padding: 1em;
  break-inside: avoid;
}

/*footer snap*/