/*color palete */

.paletes{
  color: #730D62;
  color: #220526;
  color: #F28705;
  /*color: #F27405;*/
  color: #F24405;
  color: #0B594B;
  color: #faf8f7; /*fundo de pagina*/  
  color:
#1B0B1F  /* Espaço profundo (ajuste do seu #220526) */
#5E0F4E  /* Roxo cósmico */
#F27405  /* Laranja solar (principal) */
#D94E04  /* Laranja queimado (apoio) */
#0E6B5C  /* Verde bioma alien */
#0B3F38  /* Verde sombra orgânica */
#F2E6D8  /* Papel envelhecido */
#E8D8C3  /* Variação para blocos */
}

.nova{
  color: 
  #68007a
  #ef6500
  #ffaa20
  #faf8f7
  #006253
  #23002a
}


