
p {
  margin: 0 0 0.8em 0;
}

.dropcap::first-letter {
  float: left;
  font-size: 3em;
  margin-right: 0.1em;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
}

body {
  font-family: "Georgia", serif;
}

.chapter-number {
  font-family: "Courier New", monospace;
}